#div1{
	position: relative;
	width:100%;
	height:730px;
	background-image: url(../img/校园20176.jpg);
}
#div11{
	position: absolute;
	width:1000px;
	height:500px;
	left:250px;
	top:250px;
	background-color: white;
}
#div12{
	position: absolute;
	top:60px;
	left:450px;
}
#div13{
	position: absolute;
	top:-100px;
	left:100px;
	width:400px;
	height:500px;
	background-image: url(../img/校园20172.jpg);
	background-repeat: no-repeat;
}
#div14{
	position: absolute;
	top:250px;
	left:500px;
	height:100px;
}
#div2{
	width:500px;
	height:500px;
	float:left;
	border:5px groove brown;
	margin-left: 100px;
	margin-top: 50px;
}
#div5{
	float: left;
	width:700px;
	height:500px;
	margin-top:-500px;
	margin-left: 800px;
}

img{
	width:500px;
	height:500px;
	transition: width 1s,height 1s,-webkit-transform 1s;
}
img:hover{
	width:600px;
	height:600px;
	-webkit-transform: rotate(360deg);
}
td{text-align: left;
width:370px;
height;45px;
}

